.bc-banner {
  
    background-color: blue;
  

  .bc-banner-header {
    
      color: green;
    
  }

  .bc-banner-button {
    
      color: yellow;
    

    &:hover {
      
        color: orange;
      
    }
  }

  .bc-banner-content {
    
      color: purple;
    
  }
}
