.usa-banner {
    background-color: #073366;
    border-bottom: 3px solid #F7BA44;
  .usa-banner-header {
      color: white;
  }
  .usa-banner-button {
    @if variable-exists(usa-banner-link) {
      color: $usa-banner-link;
    }
    &:hover {
      @if variable-exists(usa-banner-link-hover) {
        color: $usa-banner-link-hover;
      }
    }
  }
  .usa-banner-content {
      color: white;
  }
}